<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-title><h1></h1>Hola, {{userName}} :D</ion-title>
  </div>

  <p class="text">Introduzca el correo electrónco que quiere usar en su cuuenta:</p>

  <ion-list class="form">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
   
    <ion-button class="principar-button" (click)="validate()">Siguiente</ion-button>
  </ion-list>
</ion-content>
