<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-title><h1>{{userName}}</h1></ion-title>
  </div>

  <p class="text">Elija por último un nombre de usuario único:</p>


  <ion-list class="form">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="nickname"></ion-input>
    </ion-item>
  
  
    <ion-item>
      <ion-label>Año de nacimiento</ion-label>
      <ion-datetime style="padding-right: 1em;" [pickerOptions]="customPickerOptions" placeholder="Año" displayFormat="YYYY" min="1981" max="2002"></ion-datetime>
      <ion-icon style="z-index: 100;" name="help-circle-outline" (click)="presentAlertHelp()"></ion-icon>
    </ion-item>
   

    <ion-button class="principar-button" (click)="endRegister()">Finalizar</ion-button>
   
  
  </ion-list>
</ion-content>







  