<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <div class="title">
    <ion-title><h1>{{book.title}}</h1></ion-title>
    <ion-title><h5>{{book.author}}</h5></ion-title>
  </div>

  <div style="display: flex; align-items: center; justify-content: center;" >
    <ion-card style="width: 30%;">
      <ion-img  (click)="read(book)" src="{{book.img}}"></ion-img>
    </ion-card>
  </div>-->

  <ion-card color="primary">
  
      <ion-card style="width: 30%;">
        <ion-img  (click)="read(book)" src="{{book.img}}"></ion-img>
      </ion-card>
 
      <div class="content">
        <ion-card-header>
          <ion-card-title>{{book.title}}</ion-card-title>
          <ion-card-subtitle>{{book.author}}</ion-card-subtitle>
        </ion-card-header>
        <div class="options">
          <ion-button id="favOff" color="secondary" (click)='addFav()'><ion-icon name="heart-outline"></ion-icon></ion-button>
          <ion-button id="favOn" color="secondary" (click)='deleteFromLibrary("fav")'><ion-icon name="heart"></ion-icon></ion-button>
          <ion-button (click)="read(book)" color="secondary"><ion-icon name="book-outline" style="margin-right: 3px;"></ion-icon>Leer</ion-button>
        </div>
      </div>
    
  </ion-card>

  
  <ion-list>
    <!--<ion-item lines="full" (click)="read(book)">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      <ion-label>
        <h2>Leer</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="full" (click)='addFav()'>
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>
        <h2>Añadir a favoritos</h2>
      </ion-label>
    </ion-item>-->

    <ion-item id="deleteFromLib" lines="full" (click)="deleteFromLibrary(null)">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>
        <h2 id="libraryDelOp">Eliminar libro de la biblioteca</h2>
        <h2 id="readingDelOp">Eliminar libro de Leyendo</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="full" (click)="selectLibrary()">
      <ion-icon slot="start" name="library-outline"></ion-icon>
      <ion-label>
        <h2>Añadir a una biblioteca</h2>
      </ion-label>
    </ion-item>

    <ion-item (click)="download(book)" lines="full">
      <ion-icon slot="start" name="cloud-download-outline" ></ion-icon>
      <ion-label>
        <h2>Descargar</h2>
      </ion-label>
    </ion-item>

    <ion-item (click)="share(book)" lines="full">
      <ion-icon slot="start" name="share-outline"></ion-icon>
      <ion-label>
        <h2>Compartir</h2>
      </ion-label>
    </ion-item>

  </ion-list>



  <!--<ion-fab vertical="bottom" horizontal="START" slot="fixed" (click)="addFav()">
    <ion-fab-button>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="read(book)">
    <ion-fab-button>
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

</ion-content>


